<div class="card my-4">

<%= form_for([@post,@post.comments.build]) do |f| %>
	
		<h5 class="card-header"><%= f.label :body,"Leave a Comment:" %></h5>
		<div class="card-body">
			<div class="form-group">
				<%= f.text_area :body, class: "form-control" %>
		</div>
	
		<%= f.submit "Submit", class: "btn btn-primary" %>
		</div>
<% end %>
</div>


