<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "my_image.jpg" %>
	</div>
	<div id="content">
		<h1>This is a Blog Website</h1>
		<p>My name is <strong>Abhay Gupta</strong> and I created this blog website so that everyone can share there knowlege across the social platform and take reviews from the public in a nice and quicker way. </p>
	</div>
</div>