<div id="page_wrapper">
<h1>All posts</h1>

<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"> <%= link_to post.title, post %></h2>
		
		<p > <%= post.body.slice(0..50) %></p>
		<% if !post.image_file_name.blank? %>
			<p><%= image_tag post.image.url(:thumb) %></p>
		<% end %>
		<p class="date"> <%= time_ago_in_words(post.created_at) %> ago </p>
	</div>
<% end %>
</div>